.contents {
    font-size: 14px; 
    width: 1000px;
}
.header{
    display: flex;
    position: relative;
    background-color: #ffffff;
    width: 1000px;
    height: 120px;
}

.h_1{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 120px;
    background-color: #add8e6;
}
.h_2{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1000px;
    height: 60px;
    background-color: #87ceeb;
}
.h_3{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 60px;
    width: 1000px;
    height: 60px;
    background-color: #00ffff;
    font-size: 20px;
    font-weight: 900;
    color: #010b1a;
}
.h_3 p{
    padding:10px;
}
    
.main{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 1000px;
    margin:20px auto;
}

.main .m_1{
    padding: 10px;
}

.tb_list{
    margin:10px auto;
}

.tb_list th{
    background-color: #87ceeb;
    padding:10px;
}
.tb_list td{
    background-color: #e0ffff;
    padding:1px;
}
.tb_list .c1{
    text-align: center;
}

.footer{
    display: flex;
    width: 1000px;
    height: 50px;
    background-color: #00ced1;
}

.footer p{
    padding: 0px 5px;
}
.err_msg{
    color: #ff0000;
}
